.SideDrawer {
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  background: linear-gradient(rgba(61, 61, 61, 0.95), rgba(95, 95, 95, 0.95));
  padding-top: 5rem;
  transition: all 0.3s ease-out;
}

.Logo {
  margin-bottom: 1rem;
  font-size: 7rem;
}

@media (min-width: 600px) {
  .SideDrawer {
    display: none;
  }
}

.Close {
  transform: translateX(-100%);
  opacity: 0;
}

.Open {
  transform: translateX(0);
  opacity: 1;
}
