.Modal {
  width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s linear;
  z-index: 300;
  height: 30%;
  /* background-color: rgba(168, 168, 168, 0.8); */
  background-color: rgba(179, 179, 179, 0.7);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10%;
  top: 30%;
  border-radius: 10px;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  box-shadow: 10px 10px 53px #474747, -10px -10px 53px #ffffff;
  transition: all 0.3s ease-out;
}

@media (min-width: 451px) {
  .Modal {
    display: none;
  }
}

.Show {
  transform: scale(1);
  opacity: 1;
}

.Hide {
  transform: scale(0);
  opacity: 0;
}
