.NavigationItems {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)); */
  /* grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr)); */
  align-items: center;
  font-size: 4.5rem;
  flex-direction: column;
}

@media (min-width: 600px) {
  .NavigationItems {
    flex-direction: row;
  }
}

.Column {
  flex-direction: column;
}
.Row {
  flex-direction: row;
}
